/* 防災バッグのcss */

/* 防災バッグの全体 */
.bag_app{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color:white;
}

.app_title{
    position:fixed;
    top:1vh;
    left:18vw;
    font-size:5vw;
}

.bag_main{
    position:absolute;
    top:0vh;
    left:16.1vw;
    right:16.8vw;
    background-color:rgb(232, 250, 229);
}
.bag_main_basic{
    position:absolute;
    top:0vh;
    bottom:0vh;
    left:16vw;
    right:16.8vw;
    background-color:rgb(232, 250, 229);
}

.bag_side{
    position:fixed;
    top:0vh;
    right:0vw;
    width:16.8vw;
    height:100%;
    background-color:rgb(225, 235, 195);
    border:solid;
    border-width:0.1vh;
    border-color:white;
    border-left-width:1vw;
    border-left-color:rgb(128, 134, 110)
}

/* バッグ一覧などの項目 */
.main_item{
    position:relative;
    left:-5vw;
    font-size:3vw;
    padding-top:3.5vh;
    padding-bottom:4vh;
    padding-left:2vw;
    padding-right:2vw;
    background-color:rgb(76, 134, 18);
    color:white;
}

/* 第2項目の位置 */
.second_item_position{
    position:relative;
    left:5vw;
}
/* 第3項目の位置 */
.third_item_position{
    position:relative;
    left:3vw;
}

/* 防災バッグの名前表示(大きさなど) */
.second_item_font{
    font-size:2.5vw;
    padding-top:3vh;
    padding-bottom:1vh;
}
.bag_name_button{
    font-size:2.5vw;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:1vw;
    padding-right:1vw;
    border:solid;
    border-width:0.1vh;
    border-color:rgb(232, 250, 229);
    border-radius:0.5vw;
    background-color:rgb(232, 250, 229);
}
.bag_name_button:hover{
    cursor:pointer;
    /*color:white;*/
    text-decoration:underline;
    text-decoration-color:rgb(86, 121, 84);
    background-color:rgb(191, 210, 187);
}

/* 水などの項目表示の大きさなど */
.third_item_font{
    font-size:2vw;
    padding-left:1vw;
    padding-right:1vw;
    padding-top:0.5vh;
    padding-bottom:0.5vh;
    color:rgb(246, 248, 255);
    background-color:rgb(216, 128, 77);
    border:solid;
    border-radius:1vh;
    border-color:white;
    border-width:0.1vh;
}

.third_button_font{
    position:relative;
    left:-1.5vw;
    font-size:1.8vw;
    padding:0.2vw;
    border:solid;
    border-color:rgb(232, 250, 229);
    border-width:0.2vh;
    background-color:rgb(232, 250, 229);
}
.third_button_font:hover{
    cursor:pointer;
    color:rgb(55, 55, 219);
}


/* 新規バッグ作成の文字 */
.new_bag{
    position:relative;
    left:3vw;
    font-size:1.2vw;
    padding:0.3vw;
    padding-top:0.4vw;
    color:white;
    border:solid;
    border-width:0.1vw;
    border-color:rgb(76, 134, 18);
    border-bottom-color:white;
    border-radius:0.5vh;
}
#new_bag_back{
    background-color:rgb(76, 134, 18);
}
#new_bag_back:hover{
    background-color:rgb(104, 132, 76);
    font-size:1.3vw;
    cursor:pointer;
}

.new_bag_input{
    position:relative;
    left:1vw;
    font-size:1.3vw;
}

/* バッグの名前の表示 */
.bag_name{
    font-size:1vw;
    padding-left:2.5vw;
}

.attention{
    color:rgb(195, 68, 68);
}

/* リストの範囲の制限 */
.list_limit_third{
    width:55vw;
}
.third_padding{
    padding-top:1.5vh;
    padding-bottom:1.5vw;
    padding-left:0vw;
    padding-right:0.5vw;
}

.bag_illustration{
    position:relative;
    top:2.5vh;
}

.delete_complete_button{
    position:relative;
    top:3vh;
    font-size:2.5vw;
    padding:0.2vw;
}

/* 今の場所　*/
.now_place{
    font-size:3.5vw;
    padding:0.2vw;
    background-color:rgb(76, 134, 18);
    border:solid;
    border-width:0.1vh;
    border-color:rgb(76, 134, 18);
    border-bottom-color:white;
    color:white;
}
.now_place:hover{
    cursor:pointer;
    background-color:rgb(104, 132, 76);
}
/* 場所のパスの現在いる場所の前の場所 */
.other_place{
    font-size:1.5vw;
    padding:0.2vw;
    background-color:rgb(76, 134, 18);
    border:solid;
    border-width:0.1vh;
    border-color:rgb(76, 134, 18);
    border-bottom-color:white;
    color:white;
}
.other_place:hover{
    cursor:pointer;
    background-color:rgb(104, 132, 76);
}
/* otherの時のバッグの位置 */
.other_bag_place{
    position:relative;
    top:1vh;
}


.position_move_third{
    position:relative;
    left:-5vw;
}
#third_list_position{
    display:grid;
    grid-template-rows:25vh 25vh 25vh 25vh 25vh;
    grid-template-columns:30vw 30vw;
}

/* バッグの削除ボタン */
.bag_delete_button{
    position:relative;
    left:1vw;
    background-color:rgb(232, 250, 229);
    font-size:2vw;
    border:solid;
    border-width:0.1vh;
    border-color:rgb(232, 250, 229);
    border-radius:0.5vw;
    padding:0.3vw;
}
.bag_delete_button:hover{
    cursor:pointer;
    color:white;
    background-color:rgb(104, 132, 76);
}

/* それぞれのコンテンツのイラストの位置 */
.contents_illustration{
    position:relative;
    top:1.5vh;
}

#food_font_place{
    position:relative;
    top:2vh;
}

.contents_goods{
    position:absolute;
    top:13vh;
    left:2.5vw;
    width:54vw;
}

/* コンテンツをhoverした時の変化 */
.third_item_font:hover{
    cursor:pointer;
    background-color:rgb(192, 113, 68)
}

/* 商品名等の項目 */
.goods_items{
    position:absolute;
    top:-10vh;
    font-size:2.5vw;
    display:grid;
    grid-template-rows:10vh;
    grid-template-columns:18vw 18vw 14vw;
}
.goods_items_name{
    position:relative;
    left:4vw;
}
.goods_items_deadline{
    position:relative;
    left:4vw;
}
.goods_items_num{
    position:relative;
    left:4.5vw;
}

/* グッズの配置 */
.display_goods{
    font-size:1.5vw;
    padding-bottom: 3vh;
    display:grid;
    grid-template-columns:18vw 18vw 14vw ;
}
.mygoods_name{
    position:relative;
    left:0vw;
}
.mygoods_deadline{
    position:relative;
    left:3vw;
}
.mygoods_num{
    position:relative;
    left:5.5vw;
}

/* グッズの境界線 */
.goods_border{
    padding-bottom:0vh;
}
.goods_items_border{
    padding-bottom:2vh;
}
.goods_border,.goods_items_border{
    position:relative;
    left:-1.5vw;
    width:55.5vw;
}

/* iconの表示変化 */
.icon_button{
    position:absolute;
    right:2vw;
    padding: 0.5vw;
    background-color:rgb(232, 250, 229);
    border:solid;
    border-width:0.1vh;
    border-color:rgb(232, 250, 229);
    border-radius:0.5vw;
}
.icon_button:hover{
    cursor:pointer;
    background-color:rgb(99, 109, 90);
    color: rgb(189, 193, 189);
}

/* 追加する内容を入力するところ */
.add_goods_back{
    position:fixed;
    top:10vh;
    left:25vw;
    right:25vw;
    bottom:15vh;
    background-color:rgb(251, 219, 130);
    border:solid;
    border-color:rgb(142, 81, 57);
    border-width:0.5vw;
}

/* 入力するところ */
.goods_create_input{
    font-size:1.5vw;
    color:rgb(134, 80, 23);
}
.input_date_size{
    font-size:1.5vw;
    width:8vw;
}
#not_input_date{
    background-color:rgb(251, 219, 130);
    color:rgb(92, 55, 15);
    text-decoration:underline;
    border:solid;
    border-width:0.1vh;
    border-color:rgb(251,219,130);
    border-radius:0.2vw;
    width:10vw;
}
#not_input_date:hover{
    cursor:pointer;
    background-color:rgb(134, 80, 23);
    color:white;
    border-bottom-color:white;
}

.input_goods_name{
    font-size:1.5vw;
    padding:0.1vw;
}

/* 追加するグッズ　のフォント */
.add_goods_font{
    position:relative;
    top:-10vh;
    left:10.7vw;
    font-size:2.4vw;
    color:rgb(142, 81, 57);
    font-weight:bold;
}

#input_goods_position{
    position:relative;
    top:13vh;
    left:3vw;
}

.add_goods_close{
    position:fixed;
    top:13vh;
    right:28vw;
    font-size:3vw;
    color:rgb(134, 80, 23);
    background-color:rgb(251, 219, 130);
    border:solid;
    border-width:0.1vh;
    border-color:rgb(251, 219, 130);
}
.add_goods_close:hover{
    cursor:pointer;
}

/* 右のバッグ内情報を表示 */
.information_position{
    position:relative;
    left:1vw;
}

.bag_information_title{
    position:relative;
    top:2vh;
    left:2.3vw;
    font-size:1.5vw;
}

.information_title_border{
    padding-top:2vh;
    padding-bottom:2vh;
}

.information_list{
    position:relative;
    left:1vw;
}

.deadline_all_open{
    font-size:1.2vw;
    background-color:rgb(225, 235, 195);
    border:solid;
    border-width:0.1vh;
    border-color:rgb(225, 235, 195);
    padding:0.3vw;
    text-decoration:line-through;
}
.deadline_all_open:hover{
    cursor:pointer;
    background-color:rgb(188, 196, 163);
    text-decoration:underline;
}

/* 右のバッグ内情報を表示終了 */

.add_button{
    position:relative;
    top:5vh;
    font-size:3vw;
    color:rgb(134, 80, 23);
    background-color:rgb(251, 219, 130);
    border:solid;
    border-width:0.1vh;
    border-color:rgb(251, 219, 130);
    border-bottom-width:0.2vw;
    border-bottom-color:rgb(134, 80, 23);
}
.add_button:hover{
    cursor:pointer;
    background-color:rgb(134, 80, 23);
    color:white;
    text-decoration:underline;
}