/* 防災バッグのcss */

/* 防災バッグの全体 */
.bag_app{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color:white;
}

.app_title{
    position:fixed;
    top:1vh;
    left:18vw;
    font-size:5vw;
}

.bag_main{
    position:absolute;
    top:0vh;
    left:16.1vw;
    right:16.8vw;
    background-color:rgb(232, 250, 229);
}
.bag_main_basic{
    position:absolute;
    top:0vh;
    bottom:0vh;
    left:16vw;
    right:16.8vw;
    background-color:rgb(232, 250, 229);
}

.bag_side{
    position:fixed;
    top:0vh;
    right:0vw;
    width:16.8vw;
    height:100%;
    background-color:rgb(255, 255, 255);
}

/* バッグ一覧などの項目 */
.main_item{
    font-size:3vw;
    padding-top:3.5vh;
    padding-bottom:4vh;
    padding-left:2vw;
    padding-right:2vw;
    background-color:rgb(76, 134, 18);
    color:white;
}

/* 第2項目の位置 */
.second_item_position{
    position:relative;
    left:5vw;
}
/* 第3項目の位置 */
.third_item_position{
    position:relative;
    left:3vw;
}

/* 防災バッグの名前表示(大きさなど) */
.second_item_font{
    font-size:2.5vw;
    padding-top:3vh;
    padding-bottom:0vh;
}
/* 水などの項目表示の大きさなど */
.third_item_font{
    font-size:2vw;
    padding-left:1vw;
    padding-right:0vw;
    padding-top:0.5vh;
    padding-bottom:0.5vh;
    color:rgb(246, 248, 255);
    background-color:rgb(216, 128, 77);
    border:solid;
    border-radius:1vh;
    border-color:white;
    border-width:0.1vh;
}

.third_button_font{
    font-size:1.8vw;
    padding:0.1vw;
}


/* 新規バッグ作成の文字 */
.new_bag{
    position:relative;
    left:3vw;
    
    font-size:1.2vw;
    padding:0.3vw;
    background-color:white;
}
.new_bag_input{
    position:relative;
    left:1vw;
    font-size:1.3vw;
}

/* バッグの名前の表示 */
.bag_name{
    font-size:1vw;
    padding-left:2.5vw;
}

.attention{
    color:rgb(195, 68, 68);
}

/* リストの範囲の制限 */
.list_limit_third{
    width:55vw;
}
.third_padding{
    padding:1vw;
}

.bag_illustration{
    position:relative;
    top:2.5vh;
}